{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Book New Appointment</h3></div>
                        <div class="card-body">
                            <form>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputDate" type="date" placeholder="Select Date" onkeydown="return false"/>
                                    <label for="inputDate">Date</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputTime" type="time" placeholder="Select Time" onkeydown="return false" step="600"/>
                                    <label for="inputTime">Time</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-control" id="inputDetail" name="inputDetail" placeholder="Appointment Detail">
                                        <option value="heart">Heart Checkup</option>
                                        <option value="eye">Eye Checkup</option>
                                        <option value="eye">Body Checkup</option>
                                    </select>
                                    <label for="inputDetail">Appointment Detail:</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <input class="btn btn-primary" id="bookApptBtn" type="submit" value="Book Appointment">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script> 
    date = new Date(); 
    year = date.getFullYear(); 
    month = date.getMonth() + 1; 
    hour = date.getHours(),
    mins  = date.getMinutes();
    day = date.getDate(); 
    
    month = (month < 10 ? "0" : "") + month;
    day = (day < 10 ? "0" : "") + day;
    hour = (hour < 10 ? "0" : "") + hour;
    mins = (mins < 10 ? "0" : "") + mins;

    document.getElementById("inputDate").value = year + "-" + month + "-" + day;
    document.getElementById("inputDate").min = year + "-" + month + "-" + day;
    document.getElementById("inputDate").max = (year + 1) + "-" + month + "-" + day;
    document.getElementById("inputTime").value = hour + ":" + mins;
</script>

{% endblock javascripts %}
