{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Update Record</h3></div>
                        <div class="card-body">
                            <form role="form" method="post" action="/updateRecord.html">
                                <div class="form-floating mb-3">
                                    <input type="hidden" id="inputID" name="inputID" value={{ data.recordID }}>
                                    <input type="hidden" id="inputName" name="inputName" value={{ data.patientName }}>
                                    {{ form.defaultDate(class="form-control", readonly="readonly", value=data.dateCreated) }}
                                    <label for="defaultDate">Date Created (YYYY-MM-DD)</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form.inputNRIC(class="form-control", value=data.patientNRIC) }}
                                    <label for="inputNRIC">NRIC (Last 4 Digit)</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form.inputDescription(class="form-control", value=data.description)}}
                                    <label for="inputDescription">Description:</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.inputCreatedBy(class="form-control", value=data.createdBy, readonly="readonly")}}
                                    <label for="inputCreatedBy">Created By:</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button class="btn btn-primary" id="updateRecordBtn2" type="submit">Update Record</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
