{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">All Appointments</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                                <th>Patient's Name</th>
                                <th>Patient's NRIC</th>
                                <th>Appointment Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if current_user.userrole == "Patient" %}
                                {% for appt in data %}
                                    {% if current_user.nric == appt.patientNRIC %}
                                    <tr>
                                        <td>{{appt.appointmentDate}}</td>
                                        <td>{{appt.appointmentTime}}</td>
                                        <td>{{appt.patientName}}</td>
                                        <td>{{appt.patientNRIC}}</td>
                                        <td>{{appt.appointmentDetail}}</td>
                                        <td>
                                            <form role="form" method="post" action="">
                                                <input type="text" value={{ appt.appointmentID }} id="inputID" name="inputID" hidden>
                                                <button id="updateApptBtn" name="updateApptBtn" type="submit">Update</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form role="form" method="post" action="">
                                                <input type="text" value={{ appt.appointmentID }} id="inputID" name="inputID" hidden>
                                                <button id="deleteApptBtn" name="deleteApptBtn" type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if current_user.userrole == "Nurse" %}
                                {% for appt in data %}
                                    <tr>
                                        <td>{{appt.appointmentDate}}</td>
                                        <td>{{appt.appointmentTime}}</td>
                                        <td>{{appt.patientName}}</td>
                                        <td>{{appt.patientNRIC}}</td>
                                        <td>{{appt.appointmentDetail}}</td>
                                        <td>
                                            <form role="form" method="post" action="">
                                                <input type="text" value={{ appt.appointmentID }} id="inputID" name="inputID" hidden>
                                                <button id="updateApptBtn" name="updateApptBtn" type="submit">Update</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form role="form" method="post" action="">
                                                <input type="text" value={{ appt.appointmentID }} id="inputID" name="inputID" hidden>
                                                <button id="deleteApptBtn" name="deleteApptBtn" type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if current_user.userrole == "Doctor" %}
                                {% for appt in data %}
                                    <tr>
                                        <td>{{appt.appointmentDate}}</td>
                                        <td>{{appt.appointmentTime}}</td>
                                        <td>{{appt.patientName}}</td>
                                        <td>{{appt.patientNRIC}}</td>
                                        <td>{{appt.appointmentDetail}}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
