{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">All Patients' Records</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>Created By</th>
                                <th>Patient's Name</th>
                                <th>Patient's NRIC</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>17/10/2022</td>
                                <td>Dr Low</td>
                                <td>Jason Wong</td>
                                <td>123D</td>
                                <td>Condition good. Prescriped - medicine.</td>
                            </tr>
                            <tr>
                                <td>19/10/2022</td>
                                <td>Dr Tong</td>
                                <td>John Low</td>
                                <td>987D</td>
                                <td>Condition bad. Prescriped - medicine.</td>
                            </tr>
                            <tr>
                                <td>20/11/2022</td>
                                <td>Dr Wong</td>
                                <td>Lee Wok Kong</td>
                                <td>876D</td>
                                <td>Condition good. Prescriped - medicine.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
